
.navbar {
    margin: 200px 80px 0 0;
    background: white;
    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 20px;
    font-size: 24px;
    justify-items: center;
    align-self: center;
}
.navbar a{
    border: solid 2px gray;
    border-radius: 20px;
    padding: 10px;
    background: rgb(46,111,160);
    color: white;
    text-decoration: none;
    width: 200px;
}

.navbar a.active {
    color: grey;
}
